:root {
  --background: rgb(16, 15, 15);
  --article-bgcolor: rgb(41, 41, 41);
  --text-color: rgb(226, 226, 226);
  --text-muted: rgb(59, 59, 59);
}

* {
  box-sizing: border-box
}

body {
    font-family: 'Pixelify Sans', sans-serif;
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

.app-container {
  min-height: 100vh;
  min-width: 100vw;
  /* CSS Grid Layout */
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header (auto), Main (todo lo que sobre), Footer (auto) */
  justify-items: center;            /* Centra los bloques horizontalmente */
  box-sizing: border-box;
}

.separator {
  width: 70%;
  height: 1px;
  background-color: var(--text-color);
}

/* Header */

.web-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}

.title {
  color: var(--text-color);
}

/* Footer */

.web-footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  color: var(--text-muted);
}

/* Item Card */

.item-card {
  background-color: var(--article-bgcolor);
  color: var(--text-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

.item-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-card-separator {
  width: 90%;
  height: 1px;
  background-color: var(--text-color);
  opacity: 40%;
}

.item-icon {
  width: 128px;
}

/* Item List */

.item-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  width: 60vw;
  margin: 2rem auto;
  box-sizing: content-box;
}

/* Search Bar */
.search-bar-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.search-input {
  width: 80%;
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: var(--article-bgcolor);
  color: var(--text-color);
  border: none;
}

/* Loading */
.loading {
  color: var(--text-color);
}

.loading-container {
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
}